@charset "UTF-8";
.ui-footer h4.ui-title {
	font-size: 8px;
	font-weight: normal;
}

.ui-header h3.ui-title {
	font-size: 14px;
	font-weight: normal;
}

h3, h4 
{
	margin-bottom: 0;
}
h3 + p, h4 + p {
	margin-top: 0;
}